<!DOCTYPE html>
<html>
<head>
	<title>Note<%= notes['sNo']%></title>
</head>
<body>
	<!--Variable here-->
	<form method="POST" enctype="multipart/form-data" action="/save/<%= notes['sNo']%>">
		<textarea id="editNote" name="content"></textarea>
		<br>
		<input type="submit" value="Save" id="save">
		<br>
	</form>
	<form method="GET" action="/cancel">
		<input type="submit" value="Cancel" id="cancel">
	</form>
<script type="text/javascript">
		window.onload = function(){

			var title = document.getElementsByTagName("title")[0].innerHTML;
			var xhr = new XMLHttpRequest()
			xhr.onreadystatechange = function(){
				if(this.readyState == 4 && this.status == 200){
				   document.getElementById('editNote').innerHTML = this.responseText
				}
			}
			//variable down here
			xhr.open('GET','/getContent/'+title.slice(4),true)
			xhr.send()
		}
		var save = document.getElementById('save')
		

</script>
</body>
</html>