<!DOCTYPE html>
<html>
  <head>
    <title>NotesEasy</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to NotesEasy</h1>
    <div class="mainBox">
    	<form action="/add" method="post" enctype="multipart/form-data">
    		<textarea class="note" name="note"></textarea>
    		<input type="submit" value="Save Note">
    	</form>
    </div>
  </body>
</html>
