<!DOCTYPE html>
<html>
  <head>
    <title>NotesEasy</title>
    <link rel="shortcut icon" href="images/icon.png">
    <style type="text/css">
      body {
            text-align: center; 
            padding: 50px;
            font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
            background-color: #51c19e ;
          }

          a {
            color: brown;
            text-decoration: none ;
          }
          .note{
            border:none;
            border-radius: 5px;
            border-bottom-right-radius: 10px;
            margin: 20px auto ;
            font-family: monospace; 
          }
          .pr{
            float:  left; 
            margin-left: 1%;
            font-size: 1.5vw ;
            border-radius: 5px; 
            padding: 0.5vw 1vw ;
          }
          .pr:hover{
            cursor: pointer; 
            box-shadow: 5px 5px 5px #888888;
          }
          .red{
            margin-left: 39.5%;
            background-color: red ;
          }
          .yellow{
            background-color: yellow ;
          }
          .green{
            background-color: green ;
          }
          input{
            font-size: 2vw;
            border-radius: 10px ;
          }
          .mainBox{
            clear: both ;
          }
          @media only screen and (max-device-width : 700px){
            h1{
              font-size: 10vw ;
            }
            .note{
              width:75% ;
              font-size: 4vw ;
              height: 40%;
            }
            p, input{
              font-size: 6vw ;
            }
            input{
            border-radius: 10px ;
            font-size: 6vw ;
            }
            .pr{
              font-size: 4vw ;
              margin-left: 1%;
            }
            .red{
              margin-left: 28%;
            }
          }
    </style>
  </head>
  <body>
    <h1>Welcome to NotesEasy</h1>
    <div class="priority">
      <p>Set Priority</p>
      <div class="colors">
        <div class="pr red">High</div>
        <div class="pr yellow">Medium</div>
        <div class="pr green">Low</div>
      </div>
    </div>
    <div class="mainBox">
    	<form action="/add" method="post" enctype="multipart/form-data">
    		<textarea class="note" name="note"></textarea>
        <br>
        <input type="text" name="priority" style="display: none;" class="priorityValue">
    		<input type="submit" value="Save Note">
        <p>To view the notes, go to <a href="/list">/list</a></p>
    	</form>
    </div>
    <script type="text/javascript">
      var red = document.querySelector('.red')
      var yellow = document.querySelector('.yellow')
      var green = document.querySelector('.green')
      var priorityValue = document.querySelector('.priorityValue')
      red.onclick = function(){
        priorityValue.value = 3 ;
      }
      yellow.onclick = function(){
        priorityValue.value = 2 ;
      }
      green.onclick = function(){
        priorityValue.value = 1 ;
      }
    </script>
  </body>
</html>
