<!DOCTYPE html>
<html>
<head>
	<title>List of all notes</title>
</head>
<body>
 <% console.log(notes) %>
 <ul>
	 <% for (var i=0 ;i<notes.length ;i++){ %>
	 <li> <a href="/show/<%=notes[i]['_id']%>"> <%= notes[i]['content'] %> </a>id:(<%= notes[i]['_id']%>)</li>
	 <%}%>
 </ul>
</body>
</html>